footer {
  width: 100%;
  height: auto;
  color: var(--text);
  text-align: center;
  position: relative;
  padding: 1rem 0;
  border-top: 1.5px solid var(--accent);
  background-color: transparent;
  overflow: hidden;
}

footer::before {
  content: "";
  position: absolute;
  inset: 0;
  filter: blur(20px); /* the blur */
  z-index: 0;
}

footer > * {
  position: relative; /* ensure content sits above */
  z-index: 1;
}

.footer-inner {
  display: inline-block; /* shrink to content width */
  margin: 0 auto; /* center in footer */
}

.left {
  float: left;
  margin: 0 2rem;
}

.right {
  float: right;
  margin: 2rem 2rem;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.footer h3 {
  font-size: 22.5px;
  margin: 0;
  font-weight: 700;
}

.footer li {
  margin: 0.5rem 0;
  font-weight: 700;
}

.footer li a {
  color: var(--text-secondary);
  text-decoration: none;
}
