.navbar {
  display: flex;
  padding: 0.5rem 1rem;
  background: linear-gradient(145deg, rgb(50, 0, 0), transparent);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  font-family: 'Sensation', sans-serif;
  font-weight: 700;
  color: white;
  border-bottom: 3px solid #881a1a;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-attachment: fixed;
  background-position: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  font-family: "sansation";
}

.navbar ul li {
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

/* Style normal links */
.navbar ul li a {
  color: white;
  text-decoration: none;
}

/* Style active links */
.navbar ul li a.active {
  color: rgba(255, 255, 255, 0.7);
}

.navbar h1 {
  margin: 0;
  padding: 0 3rem;
}