.links {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.links ul li a {
    color: var(--text);
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    border-radius: 50%;
    padding: 0.5rem;
}

.links ul li a:hover {
    color: var(--text-secondary); /* darker red on hover */
}