.post-page {
  margin: 0;
  min-height: 100vh;
  padding: 0;
  text-align: left;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  background-color: var(--bg-dark);
  color: var(--text);
}

.post-container {
  max-width: 800px;
  margin: 0 auto;
  /* padding: 20px; */
  /* background-color: #ffffff; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding-top: 9vh !important;
}

.post-container img {
  width: 500px;
  height: 300px;
  border: 1.5px solid var(--border);
  border-radius: 10px;
  box-shadow: 0 0 50px var(--bg-light);
}

.post-container h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--text);
}

.author {
  font-weight:300;
  color: var(--text-muted);
}